<div id="footer">
  <div class="left">
    <a href="https://stallmansupport.org/">
      Stand with Richard Stallman.
    </a>
  </div>
  <div class="right" style="color: #000">
    You can also support me.
    <a href="/donate">Here</a>
  </div>
</div>

<div class="badges" style="padding: 10px;">
  <a href="https://spyware.neocities.org/articles/discord.html">
    <img src="/badges/discord-no-way_banner.gif"/>
  </a>
  <a href="https://anarchistmanifesto.com/">
    <img src="/badges/get-anarchy-now_banner.gif"/>
  </a>
  <a href="https://joinmastodon.org">
    <img src="/badges/leave-twitter-join-mastodon_banner.gif"/>
  </a>
  <img src="/badges/same-shit-different-asshole_banner.gif"/>
  <img src="/badges/EmacsNow_banner.gif"/>
  <img src="/badges/anybrowser_anarchy_banner.gif"/>
  <img src="/badges/cc-by-sa_banner.gif"/>
  <img src="/badges/created-with-emacs_banner.gif"/>
  <a href="https://mastodon.online/@Bassara">
    <img  src="/badges/follow-me-on-mastodon1_banner.gif"/>
  </a>
  <img src="/badges/google-chrome-is-evil_banner.gif"/>
  <img src="/badges/gplv3_banner.png"/>
  <img src="/badges/ihatemicrosoft_banner.jpg"/>
  <img src="/badges/internet-privacy-now_banner.gif"/>
  <img src="/badges/javascript-free-page_banner.gif"/>
  <img src="/badges/join-the-fediverse_banner.gif"/>
  <img src="/badges/legalise-it-now2_banner.gif"/>
</div>

</body>
</html>
