{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="main-copy">
  <h1>{{.Title}}</h1>

  <p>
    Here will not be posts about technology or any stuff related with computers,
    this can be thought of as a diary as I will post things that I learn, what I
    am thinking of, what I like, what I don’t, etcetera.
  </p>

  <h2>Posts:</h2>

  {{ range .Site.Data.entries }}
  <a href="{{.url}}">
    {{.date}} | {{.title}}
  </a>
  <br>
  {{ end }}
</div>

{{ partial "footer.html" . }}
