{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="main-copy">
  <h1>{{.Title}}</h1>

  {{ range .Site.Data.commands }}
  <h2>{{.title}}</h2>
  <p><b>Summary:</b> {{.description}}</p>
  <p>{{.content | markdownify }}</p>

  {{ if (eq .type "command") }}

  <p><b>Commands:</b></p>
  <div class="highlight">
    <pre class="chroma"><code class="language-bash">{{ range .commands }}{{ . }}<br>{{ end }}</code></pre>
  </div>

  <p><b>Examples:</b></p>
  <div class="highlight">
    <pre class="chroma"><code class="language-bash">{{ range .example }}{{ . }}<br>{{ end }}</code></pre>
  </div>
  {{ end }}

  {{ end }}
</div>

{{ partial "footer.html" . }}
