{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div id="main-copy">
  <h1>{{.Title}}</h1>

  <ul>
    {{ range .Site.Data.commands }}
    <li>
      <p><b>Title</b>: {{ .title }}</p>
      <p><b>Category</b>: {{ .category }}</p>
      <p><b>Description</b>: {{ .description }}</p>
      <p><b>Content</b>:</p>
      <p>{{ .content }}</p>
      <p><b>Command(s)</b>:</p>
      <pre class="chroma"><code>{{ range .commands }}{{ . }}<br>{{ end }}</code></pre>
      <p><b>Example(s)</b>:</p>
      <pre class="chroma"><code>{{ range .example}}{{ . }}<br>{{ end }}</code></pre>
    </li>
    <br>
    {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
